/* 浅色模式 */
.theme-light {
    --my-h1-color: #2563eb;
    --my-h2-color: #374151;
    --my-h3-color: #4b5563;
}

/* 深色模式 */
.theme-dark {
    --my-h1-color: #93c5fd;
    --my-h2-color: #e5e7eb;
    --my-h3-color: #d1d5db;
}

/* 阅读模式 */
.markdown-preview-view h1 {
    color: var(--my-h1-color);
}

.markdown-preview-view h2 {
    color: var(--my-h2-color);
}

.markdown-preview-view h3 {
    color: var(--my-h3-color);
}

/* 编辑模式 */
.markdown-source-view.mod-cm6 .cm-header-1 {
    color: var(--my-h1-color);
}

.markdown-source-view.mod-cm6 .cm-header-2 {
    color: var(--my-h2-color);
}

.markdown-source-view.mod-cm6 .cm-header-3 {
    color: var(--my-h3-color);
}